@import url("https://use.typekit.net/qcx0mvz.css");
@import url("https://use.typekit.net/mmi6tgk.css");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: black;
    font-family: "albertan-pro", sans-serif;
}

.menu {
    display: flex;
    height: 175px;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin: 0 auto;
    width: 100%;
    max-width: 1800px;

}

.logo {
    height: 100%;
}

.logo img {
    height: 100%;
}

.navMenu {
    display: flex;
    justify-content: flex-end;
    gap: 45px;
}

.navMenu a {
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-size: 200% 200%;
    background: linear-gradient(90deg, rgba(170, 0, 52, 1) 0%, rgba(23, 0, 148, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
}

.navMenu2 a {
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-size: 200% 200%;
    background: linear-gradient(90deg, rgba(170, 0, 52, 1) 0%, rgba(23, 0, 148, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
}

.navMenu a:hover {
    color: rgba(0, 0, 0, 0);
}

.navMenu2 {
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(38, 38, 38, 0.85);
    width: 100%;
    position: fixed;
    left: -100%;
    gap: 30px;
    display: none;
    flex-direction: column;
    align-items: center;
    transition: 750ms;
}

.navMenu2.active {
    left: 0;
}

.portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-top: 80px;
    gap: 75px;
}

.portfolio h1 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 3.8em;
    text-align: center;

}

.portfolio h2 {
    font-weight: 600;
    font-style: italic;
    font-size: 3.6em;
    text-align: center;
}

.sima img {
    width: 100%;
    max-width: 400px;
}

.space {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.circles {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    min-height: 800px;
    gap: 70px;
    align-items: center;
}

.containerwork {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}

.outside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(170, 0, 52, 1) 0%, rgba(23, 0, 148, 1) 100%);
}

.inside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background-color: black;
}

.inside a {
    color: white;
    font-size: 3em;
    font-family: "minion-pro-caption", serif;
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
}

.tlacoviny {
    display: flex;
    justify-content: center;
    text-align: center;
}

.tlacoviny h1 {
    color: white;
    font-size: 2.5em;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}

.content {
    display: flex;
    gap: 70px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.devicer {
    display: flex;
    width: 90%;
    display: block;
    height: 3px;
    margin-top: 13px;
    background: linear-gradient(90deg, rgba(170, 0, 52, 1) 0%, rgba(23, 0, 148, 1) 100%);
}

.rectangles {
    display: flex;
    max-width: 1400px;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}

.rectanglestricko {
    display: flex;
    max-width: 1500px;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}

.format1 {
    width: 100%;
    max-width: 290px;
    height: auto;
    border: 5px solid white;
}

.format2 {
    width: 100%;
    max-width: 621px;
    height: auto;
    border: 5px solid white;
}

.format3 {
    width: 100%;
    max-width: 412px;
    height: auto;
    border: 5px solid white;
}

.format4 {
    width: 100%;
    max-width: 1239px;
    height: auto;
    border: 5px solid white;
}

.format5 {
    width: 100%;
    max-width: 351px;
    height: auto;
    border: 5px solid white;
}

.format6 {
    width: 100%;
    max-width: 800px;
    height: auto;
    border: 5px solid white;
}

.format7 {
    width: 100%;
    max-width: 536px;
    height: auto;
    border: 5px solid white;
}

.format8 {
    width: 100%;
    max-width: 418px;
    height: auto;
    border: 5px solid white;
}

.format9 {
    width: 100%;
    max-width: 624px;
    height: auto;
    border: 5px solid white;
}

.format10 {
    width: 100%;
    max-width: 866px;
    height: auto;
    border: 5px solid white;
}

.format11 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 589px;
    height: auto;
    border: 5px solid white;

}

.format12 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 331px;
    height: auto;
    border: 5px solid white;
}

.format13 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
    width: 100%;
    max-width: 699px;
    height: auto;
}

.format14 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 588px;
    height: auto;
    border: 5px solid white;
}

.format15 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 527px;
    height: auto;
    border: 5px solid white;
}

.adobe {
    display: flex;
    gap: 20px;
}

.adobe img {
    margin-top: 20px;
    width: 70px;
    height: 70px;
}

.text {
    /* font-family: 'Merriweather', serif; */
    max-width: 1200px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.text h1 {
    font-family: 'Merriweather', serif;
    color: #aa0034;
    text-align: center;
    font-weight: 800;
    font-style: normal;
}

.text p {
    font-family: "minion-pro-caption", serif;
    color: white;
    font-size: 1.6em;
    font-weight: 300;
    text-align: justify;
}

.text h2 {
    color: white;

}

.nwm {
    width: 100%;
    max-width: 1800px;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding-right: 70px;
}

.nwm a {
    text-decoration: none;

}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background: linear-gradient(90deg, rgba(170, 0, 52, 1) 0%, rgba(23, 0, 148, 1) 100%);
}

.english {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 45px;
    height: 45px;
    border-radius: 20%;
}

.cv {
    display: flex;
    justify-content: center;
    font-size: 3em;
    color: white;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.bar {
    display: block;
    background-color: #fff;
    width: 24px;
    /* The following 2 properties are essential in creating the "X" when the hamburger is clicked. If you change just 1 of the 2, then you need to find the proper combination for the other one */
    height: 2px;
    margin: 6px auto;

    /*    -webkit-transition: all 300ms ease;  */
    transition: all 300ms ease-in-out;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.copyright {
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;

}

@media (max-width: 1680px) {
    body {
        width: 100%;
    }

    .circles {
        padding-left: 30px;
        padding-right: 30px;
        flex-wrap: wrap;
        margin-top: 70px;
        padding-bottom: 70px;
    }
}

@media (max-width: 1520px) {}

@media (max-width: 1380px) {
    .tlacoviny {
        margin-top: 50px;
    }

    .text {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 1000px) {
    .hamburger {
        display: block;
    }

    .navMenu {
        display: none;
    }

    .navMenu2 {
        display: flex;
    }


    .nwm {
        padding: 0;
        justify-content: center;
    }
}

@media (max-width: 510px) {


    .portfolio {
        margin-left: 30px;
        margin-right: 30px;
    }
}

/* @media (max-width: 447px) {

    .menu {
        margin: 20px 55px 0 145px;
    }
} */